@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<footer>
        <section class="footer-section">
            <img src="~/images/backgrounds/background-lines-white-right.svg" alt="background-lines-white-right">
            <div class="footer-container">
                <div class="footer-logo f0">
                    <img src="~/images/logos/logotype-white.svg" alt="Crito logo">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat obcaecati voluptas voluptates! Voluptates laborum nam ratione minus necessitatibus, iure praesentium.</p>
                </div>
                <div class="footer-company f1">
                    <h5>Company</h5>
                    <ul>
                        <li><a href="/about">About</a></li>
                        <li><a href="/features">Features</a></li>
                        <li><a href="/work">Work</a></li>
                        <li><a href="/career">Career</a></li>
                    </ul>
                </div>
                <div class="footer-company f2">
                    <h5>Help</h5>
                    <ul>
                        <li><a href="/customer-support">Customer Support</a></li>
                        <li><a href="/delivery">Delivery</a></li>
                        <li><a href="/details-terms-conditions">Details Terms & Conditions</a></li>
                        <li><a href="/privacy-policy">Privacy Policy</a></li>
                    </ul>
                </div>
                <div class="footer-company f3">
                    <h5>Resources</h5>
                    <ul>
                        <li><a href="/free-ebooks" target="_blank">Free eBooks</a></li>
                        <li><a href="/development" target="_blank">Development</a></li>
                        <li><a href="/tutorial-how-to-blog" target="_blank">Tutorial How to - Blog</a></li>
                        <li><a href="https://youtube.com" target="_blank">Youtube Playlist</a></li>
                    </ul>
                </div>
                <div class="footer-company f4">
                    <h5>Link</h5>
                    <ul>
                        <li><a href="/free-ebooks" target="_blank">Free eBooks</a></li>
                        <li><a href="/development" target="_blank">Development</a></li>
                        <li><a href="/tutorial-how-to-blog" target="_blank">Tutorial How to - Blog</a></li>
                        <li><a href="https://youtube.com" target="_blank">Youtube Playlist</a></li>
                    </ul>
                </div>
            </div>
        </section>
        <hr class="line">
        <section class="section-footer-buttom">
            <div class="container-footer-buttom">
                <div class="footer-buttom-content">
                    <p>© @DateTime.Now.Year Crito - Consulting Company Inc. All Rights Reserved.</p>
                </div>
                <div class="footer-buttom-links">
                    <a><i class="fa-brands fa-facebook"></i></a>
                   <a><i class="fa-brands fa-twitter"></i></a>
                   <a><i class="fa-brands fa-instagram"></i></a>
                   <a><i class="fa-brands fa-linkedin-in"></i></a>
                </div>
            </div>
        </section>
    </footer>