@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<section class="service">
    <div class="service-content">
        <p>Our Services</p>
        <h3>We Provide The Best Service For Consulting</h3>
        <div class="box-content">
            <div class="box-service">
                <span>_____</span>
                <h5>Business Advice</h5>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis in nam possimus.</p>
                <button><a href="/contact.html"><i class="fa-sharp fa-solid fa-circle-arrow-right fa-2xl"></i></a></button>
            </div>
            <div class="box-service">
                <span>_____</span>
                <h5>Startup Business</h5>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis in nam possimus.</p>
                <button><a href="/contact.html"><i class="fa-sharp fa-solid fa-circle-arrow-right fa-2xl"></i></a></button>
            </div>
            <div class="box-service">
                <span>_____</span>
                <h5>Financial Advice</h5>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis in nam possimus.</p>
                <button><a href="/contact.html"><i class="fa-sharp fa-solid fa-circle-arrow-right fa-2xl"></i></a></button>
            </div>
            <div class="box-service">
                <span>_____</span>
                <h5>Risk Management</h5>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis in nam possimus.</p>
                <button><a href="/contact.html"><i class="fa-sharp fa-solid fa-circle-arrow-right fa-2xl"></i></a></button>
            </div>
        </div>
        <div class="buton-service">
            <button>Browse Service <i class="fa-solid fa-arrow-up-right"></i></button>
        </div>
    </div>
</section>