@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.UnderConstruction>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "_UnderConstruction.cshtml";
}

<h1>@Model.Value("underConstructionTitle")</h1>