@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    var content = (ContentModels.ServiceFeatures)Model.Content;
}
<div class="business-content">
    <i class="@content.Value("serviceFeatureIcon")"></i>
    <h5>@content.Value("serviceFeatureTitle")</h5>
    <p>@content.Value("serviceFeatureDescription")</p>
</div>