@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    var content = (ContentModels.WhyUsBox)Model.Content;
}

<div class="small-content">
    <div class="ring"><i class="@content.Value("whyUsBoxIcon")"></i></div>
    <div class="why-text">                    
        <ul>
            <h5>@content.Value("whyUsBoxHeadning")</h5>
        </ul>
        <ul>
            <p>@content.Value("whyUsBoxDescription")</p>
        </ul>
    </div>
</div>